# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.
#
# M-Pesa Configuration
MPESA_CONSUMER_KEY=I4EqrgK7xYr8uyn98UIe4LfUssQQOq2XF0AJbQIXyAhBWD6V
MPESA_CONSUMER_SECRET=CxWm53Ay5OJfSdy6Imo71ybixwOB8mIOLo7ylh0LTzAtZCMFTiSy82rBj3GqbdYR
MPESA_PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
MPESA_SHORTCODE=174379
# Environment (sandbox or production)
MPESA_ENVIRONMENT=sandbox
# Your app URL for callbacks
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"
